---
layout: default.njk
---

{% if not env.production or (env.production and not public) %}<meta name="robots" content="noindex nofollow" data-helmet="robots" />{% endif %}

<link rel="preload" href="/FiraCode-Regular.woff2" as="font" data-helmet />
<style data-helmet>{% include "styles/highlight.css" %}</style>
<style data-helmet>{% include "styles/post.css" %}</style>

{% if cover %}
<style data-helmet>{% include "styles/cover.css" %}</style>
<figure class="full-bleed cover-container">
<amp-img data-hero alt="{{ cover.alt }}" src="{{ cover.src | absoluteUrl }}" width="{{ cover.width }}" height="{{ cover.height }}" layout="responsive" />
</figure>
{% endif %}
{% if tldr %}
<span class="tldr"><abbr title="Too long, didn't read">TL/DR:</abbr>{{ tldr }}</span>
{% endif %}
{{ content | safe }}

{% if related.length > 0 %}
<style data-helmet="featured">{% include "styles/featured.css" %}</style>
<aside>
<h2>Related</h2>
<div class="full-bleed featured">
  <section class="featured-container">
  {% for post in related %}
    <article>
      <strong>{{ post.author }}</strong>
      <h3>
        <a href="{{ post.url }}" rel="noindex nofollow noopener noreferrer" target="_blank">{{ post.title }}</a>
      </h3>
    </article>
  {% endfor %}
  </section>
</div>
</aside>
{% endif %}