---
layout: default.njk
---

{% if not env.production or (env.production and not public) %}<meta name="robots" content="noindex nofollow" data-helmet="robots" />{% endif %}

<link rel="preload" href="/FiraCode-Regular.woff2" as="font" data-helmet />
<style data-helmet>{% include "styles/highlight.css" %}</style>
<style data-helmet>{% include "styles/post.css" %}</style>

{% if cover %}
<style data-helmet>{% include "styles/cover.css" %}</style>
<figure class="full-bleed cover-container">
<amp-img data-hero alt="{{ cover.alt }}" src="{{ cover.src | absoluteUrl }}" width="{{ cover.width }}" height="{{ cover.height }}" layout="responsive" />
</figure>
{% endif %}
{% if tldr %}
<span class="tldr"><abbr title="Too long, didn't read">TL/DR:</abbr>{{ tldr }}</span>
{% endif %}
{{ content | safe }}