{
  "root": true,
  "extends": ["airbnb-base"],
  "ignorePatterns": ["node_modules/", "out/"],
  "rules": {
    "function-paren-newline": ["off"],
    "implicit-arrow-linebreak": ["off"],
    "no-confusing-arrow": ["off"],
    "operator-linebreak": ["off"]
  }
}
