{
  "extends": [
    "stylelint-config-recommended"
  ],
  "rules": {
    "declaration-no-important": true,
    "keyframe-declaration-no-important": true,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/^amp-/"
        ]
      }
    ]
  }
}
