.not-found {
  fill: HSL(var(--color-primary));
  width: 256px;
  height: 256px;
}

.not-found rect {
  transform: rotate(-45deg);
  transform-origin: center;
}

.not-found text {
  font: bold 39px sans-serif;
}
