.experience-list {
  flex-direction: column;
  margin: 0 calc(var(--space-lg) * -1);
  background-color: HSL(var(--color-secondary-offset));
}

.experience-list > li {
  padding: var(--space-md);
}

.experience-list > li:nth-child(2n) {
  background-color: HSL(var(--color-secondary), 0.125);
}

.experience-list > li {
  margin: 0;
}

.graduation {
  color: HSL(var(--color-primary));
}

.see-all.see-all {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
}

@media screen and (min-width: 768px) {
  .experience-container {
    width: 100%;
    max-width: 1920px;
  }

  .experience-list {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 calc(var(--space-md) * -1);
    overflow-x: auto;
  }

  .experience-list > li {
    flex: 1 1 150px;
    min-width: 230px;
  }
}
