header {
  --height: 64px;
  --padding: 0.333rem;
  --border-radius: 9999px;
  --border-width: 4px;

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--border-width) solid HSL(var(--color-tertiary));
  background-color: HSL(var(--color-bg-offset));
  padding: var(--padding);
  width: 100%;
  overflow: hidden;
}

header::before {
  position: absolute;
  content: '';
  background-color: transparent;
  box-shadow: 0 -8px 16px -2px HSL(var(--color-text), 0.75);
  height: var(--border-width);
  width: 100%;
  bottom: calc(var(--border-width) * -1);
  left: 0;
}

header + main {
  margin-top: 2rem;
}

.avatar-container {
  position: relative;
  border-radius: 9999px;
  box-shadow: 0 4px 10px -2px HSL(var(--color-bg));
  height: var(--height);
  width: var(--height);
  overflow: hidden;
}

.avatar-container img {
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  header {
    --padding: 1rem;
    --border-radius: 8px;
    --border-width: 8px;
  }
}
