header {
  --height: 64px;
  --padding: 0.333rem;
  --border-radius: 9999px;
  --margin: 0 auto calc(var(--padding) * 2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin);
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

header > * {
  border-radius: var(--border-radius);
  background-color: HSL(var(--color-bg-offset));
  box-shadow: inset 0 0 5px HSL(var(--color-tertiary), 0.125),
    0 var(--padding) 15px -2px HSL(var(--color-bg-offset), 0.333);
  padding: var(--padding) 1rem;
}

.avatar-container {
  position: relative;
  border-radius: 9999px;
  box-shadow: 0 4px 10px -2px HSL(var(--color-bg));
  height: var(--height);
  width: var(--height);
  overflow: hidden;
}

.avatar-container img {
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  header {
    --padding: 0.75rem;
    --border-radius: 8px;
    --margin: var(--padding) auto calc(var(--padding) * 2);
  }
}
