:root,
[data-theme='light'] {
  --color-text: 240, 5%, 11%;
  --color-bg: 240, 5%, 96%;
  --color-bg-offset: 240, 15%, 92%;
  --color-primary: 54, 30%, 30%;
  --color-primary-offset: 53, 30%, 85%;
  --color-secondary: 31, 97%, 33%;
  --color-secondary-offset: 31, 97%, 86%;
  --color-tertiary: 269, 97%, 35%;
}

[data-theme='dark'] {
  --color-text: 240, 2%, 92%;
  --color-bg: 240, 6%, 20%;
  --color-bg-offset: 240, 6%, 25%;
  --color-primary: 53, 92%, 75%;
  --color-primary-offset: 54, 92%, 20%;
  --color-secondary: 211, 97%, 72%;
  --color-secondary-offset: 211, 97%, 23%;
  --color-tertiary: 89, 98%, 75%;
}

[data-theme='beach'] {
  --color-text: 24, 93%, 18%;
  --color-bg: 24, 86%, 90%;
  --color-bg-offset: 24, 85%, 85%;
  --color-primary: 208, 48%, 33%;
  --color-primary-offset: 212, 43%, 85%;
  --color-secondary: 69, 100%, 20%;
  --color-secondary-offset: 69, 100%, 80%;
  --color-tertiary: 309, 56%, 30%;
}

[data-theme='fire'] {
  --color-text: 210, 35%, 88%;
  --color-bg: 285, 18%, 4%;
  --color-bg-offset: 285, 18%, 10%;
  --color-primary: 344, 79%, 59%;
  --color-primary-offset: 344, 79%, 11%;
  --color-secondary: 7, 86%, 61%;
  --color-secondary-offset: 7, 86%, 11%;
  --color-tertiary: 44, 94%, 78%;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-text: 240, 2%, 92%;
    --color-bg: 240, 6%, 20%;
    --color-bg-offset: 240, 6%, 25%;
    --color-primary: 53, 92%, 75%;
    --color-primary-offset: 54, 92%, 20%;
    --color-secondary: 211, 97%, 72%;
    --color-secondary-offset: 211, 97%, 23%;
    --color-tertiary: 89, 98%, 75%;
  }
}

:root {
  --font-main: 'Encode Sans';
  --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --space-sm: 1.25rem;
  --space-md: 1.75rem;
  --space-lg: 2.25rem;

  --border-radius: 6px;

  font-family: var(--font-main), var(--font-system);
  font-size: 20px;
  font-weight: 450;
  line-height: 1.65;
}

::selection {
  color: HSL(var(--color-bg));
  background-color: HSL(var(--color-tertiary));
}

body {
  margin: 0;
  color: HSL(var(--color-text));
  background-color: HSL(var(--color-bg));
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 0 var(--space-sm) var(--space-sm);
}

body * {
  box-sizing: inherit;
}

p {
  margin-bottom: var(--space-sm);
  font-size: 18.9189px;
  line-height: 26px;
  padding: 0.05px 0;
  max-width: 640px;
  text-align: justify;
}

p::before {
  content: '';
  margin-top: -0.3548em;
  display: block;
  height: 0;
}

p::after {
  content: '';
  margin-bottom: -0.2848em;
  display: block;
  height: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-weight: 350;
    font-variation-settings: 'wdth' 110;
  }

  p {
    margin-bottom: var(--space-lg);
    font-size: 21.6216px;
    line-height: 36px;
    padding: 0.05px 0;
  }

  p::before {
    content: '';
    margin-top: -0.4998em;
    display: block;
    height: 0;
  }

  p::after {
    content: '';
    margin-bottom: -0.4298em;
    display: block;
    height: 0;
  }
}

a,
a:focus,
a:hover,
a:visited {
  --color-theme: var(--color-tertiary);

  position: relative;
  color: HSL(var(--color-theme));
  text-decoration: none;
  font-weight: 500;
  outline: none;
}

a::before {
  transition: background-color 200ms ease-out, width 200ms ease-out;
  position: absolute;
  content: '';
  bottom: -0.25em;
  left: 0;
  height: 0.25em;
  width: 33.333%;
  background-color: HSL(var(--color-theme), 0.125);
}

a:focus::before,
a:hover::before {
  width: 100%;
  background-color: HSL(var(--color-theme), 0.5);
}

a:focus::before {
  background-color: HSL(var(--color-theme), 0.875);
}

h1,
h2,
h3,
h4,
h5 {
  margin: var(--space-lg) 0 var(--space-sm);
  font-weight: 700;
  line-height: 1.15;
  font-variation-settings: 'wdth' 100;
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: var(--space-lg) 0 var(--space-lg);
  }
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

code,
small,
.small-text {
  font-size: 0.875em;
}

button {
  --border-radius: 6px;

  padding: 0.5em 0.75em;
  border: 2px solid HSL(var(--color-secondary));
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px HSL(var(--color-secondary), 0.4);
  color: HSL(var(--color-secondary));
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  font-variation-settings: 'wdth' 120;
  transition: background-color 200ms ease-in, box-shadow 200ms ease-in,
    transform 200ms ease-in;
}

button:focus,
button:hover {
  box-shadow: 0 6px 10px -1px HSL(var(--color-secondary), 0.75);
  background-color: HSL(var(--color-secondary-offset), 0.75);
  transform: scale(1.0125);
  outline: none;
}

svg {
  display: block;
  max-height: 100%;
  max-width: 100%;
  fill: currentColor;
}

.full-bleed {
  display: block;
  width: 100vw;
  margin: 0 0 var(--space-lg);
}
