:root,
[data-theme='light'] {
  --color-text: 240, 5%, 11%;
  --color-bg: 240, 5%, 96%;
  --color-bg-offset: 240, 15%, 92%;
  --color-primary: 54, 30%, 33%;
  --color-primary-offset: 53, 30%, 57%;
  --color-secondary: 351, 97%, 33%;
  --color-secondary-offset: 351, 97%, 72%;
  --color-tertiary: 269, 97%, 45%;
}

[data-theme='dark'] {
  --color-text: 240, 2%, 92%;
  --color-bg: 240, 6%, 20%;
  --color-bg-offset: 240, 6%, 25%;
  --color-primary: 53, 30%, 57%;
  --color-primary-offset: 54, 30%, 27%;
  --color-secondary: 351, 97%, 72%;
  --color-secondary-offset: 351, 97%, 33%;
  --color-tertiary: 269, 98%, 80%;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-text: 240, 2%, 92%;
    --color-bg: 240, 6%, 20%;
    --color-bg-offset: 240, 6%, 25%;
    --color-primary: 53, 30%, 57%;
    --color-primary-offset: 54, 30%, 27%;
    --color-secondary: 351, 97%, 72%;
    --color-secondary-offset: 351, 97%, 33%;
    --color-tertiary: 269, 98%, 80%;
  }
}

:root {
  --font-main: 'Encode Sans';
  --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';

  --space-sm: 1.25rem;
  --space-md: 1.75rem;
  --space-lg: 2.25rem;

  font-family: var(--font-main), var(--font-system);
  font-size: 20px;
  font-weight: 450;
  line-height: 1.65;
}

body {
  margin: 0;
  color: HSL(var(--color-text));
  background-color: HSL(var(--color-bg));
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: var(--space-sm);
}

body * {
  box-sizing: inherit;
}

p {
  margin-bottom: var(--space-sm);
  font-size: 18.9189px;
  line-height: 26px;
  padding: 0.05px 0;
  max-width: 640px;
  text-align: justify;
}

p::before {
  content: '';
  margin-top: -0.3548em;
  display: block;
  height: 0;
}

p::after {
  content: '';
  margin-bottom: -0.2848em;
  display: block;
  height: 0;
}

@media screen and (min-width: 768px) {
  body {
    font-weight: 350;
    font-variation-settings: 'wdth' 110;
  }

  p {
    margin-bottom: var(--space-lg);
    font-size: 21.6216px;
    line-height: 36px;
    padding: 0.05px 0;
  }

  p::before {
    content: '';
    margin-top: -0.4998em;
    display: block;
    height: 0;
  }

  p::after {
    content: '';
    margin-bottom: -0.4298em;
    display: block;
    height: 0;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: var(--space-lg) 0 var(--space-sm);
  font-weight: 700;
  line-height: 1.15;
  font-variation-settings: 'wdth' 100;
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: var(--space-lg) 0 var(--space-lg);
  }
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.125em;
}

code,
small,
.text_small {
  font-size: 0.889em;
}

.full-bleed {
  display: block;
  width: 100vw;
  margin: 0 0 var(--space-lg);
}
