ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:not(:first-child) {
  margin-left: var(--container-space, 1rem);
}

li[data-index]::before {
  content: attr(data-index);
  margin-right: 0.25rem;
  color: HSL(var(--color-text), 0.667);
  font-size: 0.875em;
  font-weight: 200;
}

amp-sidebar {
  --background: var(--color-bg-offset);

  padding: calc(var(--container-space) - 6px)
    var(--container-space, var(--padding))
    var(--container-space, var(--padding));
  background-color: HSL(var(--background));
  text-align: right;
}

amp-sidebar[open] {
  display: flex;
  flex-direction: column;
  place-items: flex-end;
  width: 80vw;
}

amp-sidebar h2 {
  align-self: flex-start;
  border-bottom: 1px dashed HSL(var(--color-text), 0.25);
  margin-bottom: 0;
  padding-bottom: var(--padding);
  color: HSL(var(--color-text), 0.75);
  width: 100%;
  letter-spacing: 0.2em;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.667em;
  font-weight: 200;
  font-variation-settings: 'wdth' 125;
}

amp-sidebar nav {
  padding-bottom: calc(var(--container-space, 1rem) * 2);
  width: 100%;
  font-size: 1.25em;
}

amp-sidebar ul {
  flex-direction: column;
}

amp-sidebar li {
  margin-top: var(--container-space, 1rem);
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .navigation-launcher {
    display: none;
  }
}
