<!doctype html>
<html lang="en" [class]="theme ? 'theme-' + theme : ''">
  {% include "partials/head.njk" %}
  <body>
    {% if not skipHeader %}
      {% include "partials/header.njk" %}
    {% endif %}
    {{ content | safe }}
    
    <meta name="robots" content="{% if process.env.NODE_ENV !== 'production' or draft %}noindex,nofollow{% else %}index,follow{% endif %}" data-helmet="robots" />
    {% include "partials/footer.njk" %}
  </body>
</html>
