.api-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--space-md);
  width: 100%;
  max-width: 1920px;
}

.api-wrapper button {
  align-self: center;
  justify-self: center;
}

.api-wrapper pre {
  border-radius: var(--border-radius);
  background-color: HSL(var(--color-bg-offset));
  padding: var(--space-sm);
  overflow-x: auto;
}

@media screen and (min-width: 1200px) {
  .api-wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--space-sm);
    row-gap: 0;
  }
}
