.full-bleed {
  margin-bottom: unset;
}

.full-bleed:nth-child(2n + 1) {
  background-color: HSL(var(--color-tertiary), 0.0625);
}

.date {
  display: inline-block;
  margin-right: calc(var(--space-sm) * 0.5);
}

.blog-preview {
  padding: calc(var(--space-md) * 2) var(--padding, 0);
  width: var(--paragraph-width);
  max-width: 100%;
}

.full-bleed:first-of-type > .blog-preview {
  padding-top: var(--space-md);
}

.blog-preview h2 a {
  padding-bottom: calc(var(--space-sm) * 0.333);
}

.blog-preview h2 {
  margin: var(--space-sm) 0;
}

.blog-preview ul {
  display: inline-flex;
  margin-left: calc(var(--space-sm) * 0.5);
  font-size: 0.875em;
}

.blog-preview li {
  margin-left: unset;
}

.blog-preview ul a {
  transition: background-color 200ms ease-in, color 200ms ease-in;
  display: inline-block;
  border-radius: var(--border-radius);
  padding: calc(var(--space-sm) * 0.25);
  background-color: transparent;
  color: HSL(var(--color-primary));
}

.blog-preview ul a:hover,
.blog-preview ul a:focus,
.blog-preview ul a:active {
  background-color: HSL(var(--color-primary));
  color: HSL(var(--color-bg));
}

.blog-preview ul a::before {
  content: unset;
}

.blog-preview p {
  margin-bottom: unset;
}

@media (min-width: 768px) {
  .full-bleed {
    padding: unset;
  }
}
