.featured {
  background-color: HSL(var(--color-primary-offset), 0.666);
}

.featured-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.featured-container article {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 4px solid HSL(var(--color-primary));
  margin: unset;
  padding: var(--padding);
  width: 100%;
}

.featured-container article:nth-child(2n + 1) {
  background-color: HSL(var(--color-primary-offset));
}

.featured-container h3 {
  margin-top: var(--space-sm);
}

.featured-container span {
  display: block;
  margin-bottom: var(--space-sm);
}

.language {
  display: inline-block;
  position: absolute;
  padding: calc(var(--space-sm) * 0.25) calc(var(--space-sm) * 0.5);
  top: 0;
  left: 0;
  color: HSL(var(--color-primary-offset));
  background-color: HSL(var(--color-primary));
  font-family: var(--font-monospace);
  font-size: 0.625em;
}

@media (min-width: 768px) {
  .featured-container {
    flex-direction: row;
  }

  .featured-container article {
    min-width: 230px;
    max-width: 320px;
  }
}

@media (min-width: 1200px) {
  .featured-container {
    margin: 0 auto;
    max-width: 1200px;
  }
}
