.featured {
  background-color: HSL(var(--color-primary-offset), 0.666);
}

.featured-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.featured-container article {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 4px solid HSL(var(--color-primary));
  margin: unset;
  padding: var(--padding);
  width: 100%;
}

.featured-container article:nth-child(2n + 1) {
  background-color: HSL(var(--color-primary-offset));
}

.featured-container h3 {
  margin-top: var(--space-sm);
}

.featured-container span {
  display: block;
  margin-bottom: var(--space-sm);
}

.language,
.meta-link {
  padding: calc(var(--space-sm) * 0.25) calc(var(--space-sm) * 0.5);
  background-color: HSL(var(--color-primary));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta-link {
  --color-theme: var(--color-primary);

  background-color: HSL(var(--color-primary), 0.075);
}

.meta-link:hover,
.meta-link:focus {
  --color-theme: var(--color-primary-offset);

  background-color: HSL(var(--color-primary));
}

.meta {
  --margin: calc(var(--padding) * -1);
  --gap: calc(var(--space-sm) * 0.25);

  display: flex;
  margin: var(--margin);
  margin-bottom: calc(var(--space-sm) * 0.5);
  width: calc(100% + var(--padding) * 2);
  top: 0;
  left: 0;
  gap: var(--gap);
  color: HSL(var(--color-primary-offset));
  font-family: var(--font-monospace);
  font-size: 0.625em;
}

@media (min-width: 768px) {
  .featured-container {
    flex-direction: row;
  }

  .featured-container article {
    min-width: 230px;
    max-width: 320px;
  }
}

@media (min-width: 1200px) {
  .featured-container {
    margin: 0 auto;
    max-width: 1200px;
  }
}
