p:first-of-type {
  --line-height: 1.4em;

  font-size: 1.25em;
  text-align: left;
}

.tldr {
  display: block;
  margin: calc(var(--space-sm) * -1) calc(var(--space-sm) * -1) var(--space-md);
  padding: var(--space-sm);
  background-color: HSL(var(--color-secondary-offset), 0.5);
}

@media (min-width: 768px) {
  .tldr {
    border-radius: var(--border-radius);
  }
}
