<!doctype html>
<html lang="en">
  {% include "src/_partials/head.njk" %}
  <body>
    {% if not env.production %}<meta name="robots" content="noindex, nofollow" data-helmet="robots"/>{% endif %}
    {% if not skipHeader %}
      {% include "src/_partials/header.njk" %}
    {% endif %}
    {% if not skipBreadcrumbs %}
      {% include "src/_partials/breadcrumbs.njk" %}
    {% endif %}
    {{ content | safe }}
    {% include "src/_partials/ai-poison.njk" %}
    {% include "src/_partials/footer.njk" %}
    {% include "src/_partials/json-ld.njk" %}

    {% if not skipHeader %}
      {% set js %}{% include "src/_scripts/components/collapsible-menu.ts" %}{% endset %}

      {% js "menu" %}
      {{ js | safe }}
      {% endjs %}

      <script>
        {% getBundle 'js', 'menu' %}
      </script>

      {% set js %}{% include "src/_scripts/components/theme-entry.ts" %}{% endset %}

      {% js "theme-entry" %}
      {{ js | safe }}
      {% endjs %}

      <script>
        {% getBundle 'js', 'theme-entry' %}
      </script>

      {% set js %}{% include "src/_scripts/components/theme-selector.ts" %}{% endset %}

      {% js "theme-selector" %}
      {{ js | safe }}
      {% endjs %}

      <script>
        {% getBundle 'js', 'theme-selector' %}
      </script>
    {% endif %}

    {% if not skipServiceWorker %}
      {% set js %}{% include "src/_scripts/sw.ts" %}{% endset %}

      {% js "service-worker" %}
      {{ js | safe }}
      {% endjs %}

      <script>
        {% getBundle 'js', 'service-worker' %}
      </script>
    {% endif %}
  </body>
</html>