header {
  --margin: var(--space-md);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) 0;
  margin-bottom: var(--margin);
}

:where(header .container),
:where(header [data-interaction]) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm);
}

:where(header [data-interaction]) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

header ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin: 0;
  list-style-type: none;
}

header li::before {
  content: attr(data-order);
  display: inline-block;
  margin-right: 1ch;
  color: var(--color-text-muted);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-caption);
}

:where(header collapsible-menu, header theme-selector):is(
    :focus,
    :focus-within
  ) {
  outline: none;
}

theme-entry {
  --outline-color: var(--color-text-muted);
  --border-color: var(--color-bg-muted);

  border: var(--border-width-md) solid var(--border-color);
}

theme-entry[aria-current='true'] {
  --border-color: var(--color-link);

  position: relative;
}

theme-entry[aria-current='true']::after {
  content: '✓';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  top: 0;
  right: 0;
  width: var(--space-md);
  height: var(--space-md);
  background-color: var(--color-link);
  color: var(--color-bg);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-caption);
  transform: translateX(50%) translateY(-50%);
}

theme-entry div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  border-radius: var(--border-radius);
  padding: var(--space-xs);
  width: 128px;
  background-color: var(--color-bg);
  color: var(--color-text);
  aspect-ratio: 3 / 2;
  cursor: pointer;
}

theme-entry div:is(:focus) {
  outline: var(--border-width-md) dotted var(--outline-color);
  outline-offset: var(--border-width-sm);
}

.home {
  --color: var(--color-link);
  --size: 44px;

  display: inline-flex;
  position: relative;
  width: var(--size);
  height: var(--size);
  padding: var(--space-xxs);
  border-radius: 50%;
  border: 1px solid var(--color-link);
  color: var(--color);
  aspect-ratio: 1 / 1;
}

.home:hover,
.home:focus {
  --color: var(--color-bg);
}

.home::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--color-link);
  transform: translate(-50%, -50%);
  transition: width var(--duration-fast) var(--timing),
    height var(--duration-fast) var(--timing);
}

.home:hover::before,
.home:focus::before {
  width: 100%;
  height: 100%;
}

.home::after {
  display: none;
}

.home > div {
  display: inline-flex;
}

@media (min-width: 640px) {
  header ul,
  :where(header [data-interaction]) {
    flex-direction: row;
  }
}

@media (min-width: 848px) {
  header {
    --margin: var(--space-xl);
  }

  header ul {
    gap: var(--space-md);
  }

  .home {
    --size: 56px;
  }
}
