{% set srcset = "" %}
{% for size in [64, 128, 256, 512] %}
  {% set srcset %}{% if srcset.length %}{{srcset}}, {% endif %}{{ pkg.author.email | gravatar(size) }} {{ size }}w{% endset %}
{% endfor %}

<style data-helmet>{% include "styles/header.css" %}</style>
<header>
  <a href="/about" class="avatar-container" aria-label="About page">
    <amp-img aria-hidden="true" role="image" alt="Avatar of {{ feed.author.name }}" srcset="{{ srcset }}" layout="fill"></amp-img>
  </a>
  {% include "partials/navigation.njk" %}
  {% include "partials/themes.njk" %}
</header>
