{% set navigation %}
<nav toolbar="(min-width: 768px)" toolbar-target="navigation">
  <ul>
    {% for route in routes.data.routes %}
    {% set padLength = loop.length.toString().length + 1 %}
      <li class="small-text" data-index="{{ loop.index | padZero(padLength) }}"><a href="{{ route.path }}">{{ route.name }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endset %}

<style data-helmet>{% include "styles/navigation.css" %}</style>
<div id="navigation"></div>
<amp-sidebar id="sidebar" layout="nodisplay" side="right">
  <button aria-label="Close Menu" on="tap:sidebar.close">{{ '/_includes/assets/icons/close.svg' | svgContents | safe }}</button>
  <h2>Navigation</h2>
  {{ navigation | safe }}
</amp-sidebar>
<button aria-label="Open Menu" on="tap:sidebar.open" class="navigation-launcher">{{ '/_includes/assets/icons/menu.svg' | svgContents | safe }}</button>