---
layout: default.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<meta name="robots" content="noindex" data-helmet="robots" />
<style data-helmet>{% include "styles/404.css" %}</style>

{% include "partials/game-of-life.njk" %}

<svg class="not-found" aria-hidden="true" viewBox="0 0 64 29">
  <rect x="16" y="13" height="4" width="32" />
  <text x="0" y="28">404</text>
</svg>

<h1>Oh, you meant...?</h1>
<p>
Sorry, but this is a dead end. If you still think there should be something else, please let me know by shooting a tweet or sending an e-mail.
</p>
<p>
<a href="{{ '' | absoluteUrl }}">Go back to home</a>.
</p>