---
layout: default
page:
  title: Blog
tldr: Blog archive of Sascha Zarhuber's personal website. Contents are updated regularly.
---

<h1>Blog</h1>
{% if collections.released.length %}
  <section>
  {% for post in collections.released %}
    <article>
      <h2>{{ post.data.page.title }}</h2>
    </article>
  {% endfor %}
  </section>
{% else %}
  <span>No posts yet, please check back later.</span>
{% endif %}
