---
permalink: feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ feed.title }}</title>
  <subtitle>{{ feed.description }}</subtitle>
  <link href="{{ permalink | absoluteUrl }}" rel="self"/>
  <link href="{{ feed.home_page_url }}"/>
  <updated>{{ collections.post | rssLastUpdatedDate }}</updated>
  <id>{{ feed.home_page_url }}</id>
  <icon>{{ feed.favicon }}</icon>
  <logo>{{ feed.icon }}</logo>
  <author>
    <name>{{ feed.author.name }}</name>
    <uri>{{ feed.author.url }}</uri>
  </author>
  {%- for post in collections.post %}
  {% set absolutePostUrl %}{{ post.url | absoluteUrl }}{% endset %}
  <entry>
    {% if post.data.tldr %}
      <summary>{{ post.data.tldr }}</summary>
    {% endif %}
    <title>{{ post.data.title }}</title>
    <author>
      <name>{{ feed.author.name }}</name>
      <uri>{{ feed.author.url }}</uri>
    </author>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
