---
layout: base.njk
---

<meta name="robots" content="noindex,nofollow">
<script type="text/javascript">
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => navigator.serviceWorker.register('/sw.js').catch(console.error));
}
</script>
