---
layout: base.njk
permalink: sw.html
skipHeader: true
---

<meta name="robots" content="noindex,nofollow" data-helmet="robots">
<script type="text/javascript" data-helmet>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => navigator.serviceWorker.register('/sw.js').catch(console.error));
}
</script>

