---
layout: default.njk
tldr: "Have a look on some full-featured JSON API v1-conform endpoints on my website."
title: API Docs
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-okaidia.min.css" integrity="sha256-zzHVEO0xOoVm0I6bT9v5SgpRs1cYNyvEvHXW/1yCgqU=" crossorigin="anonymous" data-helmet="prism-theme"/>

{% set css %}{% include 'src/_styles/api-docs.css' %}{% endset %}

{% css "api-docs" %}
{{ css | safe }}
{% endcss %}

<style data-helmet="api-docs">
  {% getBundle 'css', 'api-docs' %}
</style>

{% set experience %}
{% include "src/_data/experience.json" %}
{% endset %}

{% set experience = experience | json %}
{% set experience = experience | modify('data.education', experience.data.education[0]) | modify('data.work', experience.data.work[0]) | stringify %}

{% set feed %}
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "Sascha Zarhuber, Web Developer",
  "description": "I am Sascha, a web developer from Austria. This website is about the web and stuff that I make.",
  "home_page_url": "https://sascha.work/",
  "feed_url": "https://sascha.work/feed.json",
  "icon": "https://sascha.work/assets/img/apple-touch-512.png",
  "favicon": "https://sascha.work/assets/img/apple-touch-192.png",
  "authors": [
    {
      "name": "Sascha Zarhuber",
      "url": "https://sascha.work/",
      "avatar": "http://sascha.work/assets/img/apple-touch-512.png"
    }
  ],
  "language": "en",
  "items": [
      {
        "id": "http://sascha.work/posts/teaser-cards-in-eleventy/",
        "title": "Teaser Cards in Eleventy",
        "url": "http://sascha.work/posts/teaser-cards-in-eleventy/",
        "date_published": "2021-01-22T00:00:00Z"
      }
  ]
}
{% endset %}

{% set social %}
{% include "src/_data/social.json" %}
{% endset %}

{% set social = social | json %}
{% set social = social | modify('data', social.data[0]) | stringify %}

{% set project %}
{
  "data": {
    "description": "The repository of my personal website",
    "homepageUrl": "https://sascha.work",
    "languages": [
      {
        "color": "#663399",
        "name": "CSS",
        "size": 33
      },
      {
        "color": "#3d8137",
        "name": "Nunjucks",
        "size": 28
      },
      {
        "color": "#3178c6",
        "name": "TypeScript",
        "size": 19
      },
      {
        "color": "#f1e05a",
        "name": "JavaScript",
        "size": 10
      },
      {
        "color": "#e34c26",
        "name": "HTML",
        "size": 8
      }
    ],
    "name": "sascha.work",
    "release": {
      "name": "v3.0.0",
      "publishedAt": "2025-04-18T12:00:58Z",
      "tagName": "v3.0.0"
    },
    "stargazersCount": 0,
    "url": "https://github.com/saschazar21/sascha.work"
  },
  "errors": null,
  "jsonapi": {
    "version": "1.0"
  },
  "links": {
    "self": "https://sascha.work/api/v1/project/saschazar21/sascha.work",
    "related": "https://sascha.work"
  }
}
{% endset %}

{% set snippets = [experience, feed, social, project] %}

{% set segments %}
[
  {
    "name": "experience",
    "description": "This endpoint contains all my educational- and work experience, including the university- and company name, position, and timeline. It is used to generate some contents of the <a href=\"/about/?utm_content=api-docs\">About</a> page.",
    "url": "/experience.json",
    "method": "GET",
    "contentType": "application/vnd.api+json"
  },
  {
    "name": "feed",
    "description": "This endpoint contains a <a href=\"https://www.jsonfeed.org/\" rel=\"noindex nofollow\" target=\"_blank\">JSON Feed 1.1</a>-conform feed of my latest articles.",
    "url": "/feed.json",
    "method": "GET",
    "contentType": "application/vnd.api+json"
  },
  {
    "name": "social",
    "description": "This endpoint contains a JSON object with all my social media accounts, including the URL and user name. It is used to generate the Social Media section in the footer.",
    "url": "/social.json",
    "method": "GET",
    "contentType": "application/vnd.api+json"
  },
  {
    "name": "project",
    "description": "This endpoint contains a JSON object to retrieve data for a requested repository hosted on GitHub. It currently only supports selected owners related to me, such as <em>saschazar21</em> or <em>vorchdorf-dot-media</em>.",
    "url": "/api/v1/project/:owner/:repo",
    "method": "GET",
    "contentType": "application/vnd.api+json"
  }
]
{% endset %}

<h1>API Docs</h1>

<p>
  This website contains some full-featured JSON API v1-conform endpoints.
  These contain mainly static information, but are recreated during every deployment for staying up to date.
</p>

<p>
  Additionally, there are a few dynamic endpoints available, which are used to fetch data from remote APIs, or generate real-time data to ensure accuracy.
  All URL paths prefixed with <code>/api/</code> are serverless functions written in Go and are deployed to AWS Lambda in the <em>us-east-1</em> (N. Virginia) region. This will change, as soon as Netlify supports a custom region in its free tier.
</p>

{% for segment in segments | json %}
  <article data-api-doc>
    <h2>
      <a href="{{ segment.url }}" target="_blank">
        <code>{{ segment.url }}</code>
      </a>
    </h2>
    <p>
      {{ segment.description | safe }}
    </p>
    <expander-button text="Show sample response">
      <div slot="contents" data-demo>
        <div data-headers>
          <section>
            <h3>Method</h3>
            <code>{{ segment.method }}</code>
          </section>
          <section data-hide-sm>
            <h3>Path</h3>
            <code>{{ segment.url }}</code>
          </section>
          <section>
            <h3>Content-Type</h3>
            <code>{{ segment.contentType }}</code>
          </section>
        </div>
        {% if snippets[loop.index0] %}
          {% highlight "json" %}
          {{ snippets[loop.index0] | safe }}
          {% endhighlight %}
        {% endif %}
      </div>
    </expander-button>
  </article>
{% endfor %}

{% set js %}{% include "src/_scripts/components/expander-button.ts" %}{% endset %}

{% js "api-docs" %}
{{ js | safe }}
{% endjs %}

<script>
  {% getBundle 'js', 'api-docs' %}
</script>