---
permalink: /assets/img/teaser-card.svg
eleventyExcludeFromCollections: true
---

{% set title = "It's about the web and stuff that I make." %}
{% set subtext = pkg.author.name %}

{% include "src/_partials/teaser-card.njk" %}