{% set css %}{% include "src/_styles/header.css" %}{% endset %}

{% css "header" %}
{{ css | safe }}
{% endcss %}

<style data-helmet>
  {% getBundle 'css', 'header' %}
</style>

{% set svg %}{% include "assets/favicon.svg" %}{% endset %}

<header id="top">
  <div class="container">
    <a class="home" href="/?utm_content=header" rel="me" title="Homepage">
      <div aria-hidden="true" role="presentation" data-avatar>{{ svg | safe }}</div>
    </a>

    <collapsible-menu>
      {% set navigation = [["Home", "/"], ["About", "/about/"], ["Blog", "/blog/"], ["API Docs", "/api-docs/"]] %}
      <nav id="nav" slot="menu">
        <ul>
          {% for item in navigation %}
            <li data-order="{{ loop.index | string | padStart(2, '0') }}">
              <a href="{{ item[1] }}?utm_content=header" {% if item[1] == page.url %}aria-current="page"{% endif %}>{{ item[0] }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <template slot="footer">
        <section aria-label="Copyright, Contact and Legal Notice">
          <ul data-icons>
            {% for account in social.data %}
              <li>
                <a href="{{ account.profile }}" rel="me" target="_blank" title="{{ account.username }} on {{ account.provider }}">
                  <svg aria-hidden="true" role="img" height="44" width="44">
                    <use xlink:href="/assets/icons/social.sprite.svg#icon-{{ account.provider }}"></use>
                  </svg>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </template>
    </collapsible-menu>
  </div>
</header>