{% set y = 32 %}

{% set lines %}
{% for segment in title | svgline %}
  <text x="8px" y="{{ y }}px" fill="#338014" font-family="-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif" font-weight="bold">{{ segment }}</text>
  {% set y = y + 16 %}
{% endfor %}
{% endset %}

<svg xmlns="http://www.w3.org/2000/svg" fill="none" width="1200" height="675" viewBox="0 0 160 90">
  <rect width="160px" height="90px" fill="#FFFFFF" stroke="#ededed" stroke-width="8px"/>
  <rect x="4px" y="4px" width="152px" fill="#FFFFFF" height="82px" stroke="#338014" stroke-width="1px"/>
  <rect x="4px" y="4px" width="152px" height="8px" fill="#338014"/>
  <rect x="6px" y="5px" rx="1px" width="24px" height="6px" fill="#FFFFFF"/>
  <path d="M 26,7 L 28,9 M 28,7 L 26,9 Z" stroke="#338014" stroke-width="0.5px"/>
  <rect x="31px" y="5px" rx="1px" width="6px" height="6px" fill="#ededed"/>
  <path d="M 34,7 L 34,9 M 33,8 L 35,8 Z" stroke="#338014" stroke-width="0.5px"/>
  <circle fill="#ededed" cx="142px" cy="8px" r="2px"/>
  <path d="M 141,9 L 143,9 Z" stroke="#338014" stroke-width="0.5px"/>
  <circle fill="#ededed" cx="147px" cy="8px" r="2px"/>
  <path d="M 146,9 L 148,9 L 148,7 L 146,7 Z" stroke="#338014" stroke-width="0.5px"/>
  <circle fill="#ededed" cx="152px" cy="8px" r="2px"/>
  <path d="M 151,7 L 153,9 M 153,7 L 151,9 Z" stroke="#338014" stroke-width="0.5px"/>
  <image x="120px" y="44px" width="32px" height="32px" href="{{ avatar }}"/>
  <text x="92px" y="82px" fill="#1c1c1c" font-family="Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace" font-size="5px">{{ '' | canonical(env.url) }}</text>
  {% if post.date or subtext %}
    {% if post.date %}
      {% set subtext = post.date | date('MMMM D, YYYY') %}
    {% endif %}
    <text x="8px" y="82px" fill="#1c1c1c" font-family="Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace" font-size="5px">{{ subtext }}</text>
  {% endif %}
  {{ lines | safe }}
</svg>