---
eleventyExcludeFromCollections: true
pagination:
  data: collections.public
  size: 1
  alias: post
permalink: "/assets{{ post.url }}teaser-card.svg"
---

{% include "partials/teaser-card.njk" %}
