<style data-helmet="featured">{% include "styles/featured.css" %}</style>

<div class="full-bleed featured">
  <div class="featured-container">
  {% for project in projects %}
  <article>
    <aside class="meta">
      <small class="language" title="{{ project.name }} is mostly written in {{ project.language }}">{{ project.language }}</small>
      <a class="meta-link" href="{{ project.html_url }}" rel="noindex nofollow noopener noreferrer" target="_blank" title="View {{ project.name }} on Github">
        Source
      </a>
      {% if project.homepage %}
        <a class="meta-link" href="{{ project.homepage }}" rel="noindex nofollow noopener noreferrer" target="_blank" title="Open {{ project.name }}'s homepage">
          URL
        </a>
      {% endif %}
    </aside>
    <div>
      <h3>{{ project.name }}</h3>
      <span>{{ project.description }}</span>
    </div>
  </article>
  {% endfor %}
  </div>
</div>
