{% set srcset = "" %}
{% for size in [64, 128, 256, 512] %}
  {% set srcset %}{% if srcset.length %}{{srcset}}, {% endif %}{{ pkg.author.email | gravatar(size) }} {{ size }}w{% endset %}
{% endfor %}

<style data-helmet>{% include "styles/header.css" %}</style>
{% include "partials/navigation.njk" %}
<header>
  <a href="/" class="avatar-container" aria-label="Go to Home page">
    <amp-img aria-hidden="true" role="image" alt="Avatar of {{ feed.author.name }}" srcset="{{ srcset }}" layout="fill"></amp-img>
  </a>
  <div class="header-container">
    <div id="navigation-container"></div>
    <button aria-label="Select Theme" on="tap:AMP.setState({ open: !open })">{{ '/src/_includes/assets/icons/brush.svg' | svgContents | safe }}</button>
    <button aria-label="Open Menu" on="tap:sidebar.open" class="navigation-launcher">{{ '/src/_includes/assets/icons/menu.svg' | svgContents | safe }}</button>
  </div>
  {% include "partials/themes.njk" %}
</header>