{% set y = 32 %}

<svg width="1200" height="675" viewBox="0 0 160 90">
  <rect width="160px" height="90px" fill="#FFFFFF" stroke="#E8E8EE" stroke-width="8px" />
  <rect x="4px" y="4px" width="152px" fill="#FFFFFF" height="82px" stroke="#5603B0" stroke-width="1px" />
  <rect x="4px" y="4px" width="152px" height="8px" fill="#5603B0" />
  <path d="M 8,12 L 10,6 41.12,6 43.12,12 8,12" fill="#FFFFFF" />
  <circle fill="#E8E8EE" cx="142px" cy="8px" r="2px" />
  <circle fill="#E8E8EE" cx="147px" cy="8px" r="2px" />
  <circle fill="#E8E8EE" cx="152px" cy="8px" r="2px" />
  <text x="92px" y="82px" fill="#303036" font-family="'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace" font-size="5px">{{ '' | absoluteURL }}</text>
  <text x="8px" y="82px" fill="#303036" font-family="'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace" font-size="5px">{{ post.date | format('MMMM D, YYYY') }}</text>
  {% for segment in post.data.page.title | svgline %}
    <text x="8px" y="{{ y }}px" font-family="'Oxygen', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'" font-weight="bold" fill="#5603B0">{{ segment }}</text>
    {% set y = y + 16 %}
  {% endfor %}
</svg>
